
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A new team has registered for the Sin City 6v6 Tournament</h1>
    <h2>Team: <%= @user.team %></h2>
    <h2>Name: <%= @user.first %> <%= @user.last %></h2>
    <h2>Email: <%= @user.email %></h2>
    <h2>Phone Number: <%= @user.phone %></h2>
    <h2>Division: <%= @user.tournament_type %></h2>
  </body>
</html>